<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME}% !-f
  RewriteCond %{REQUEST_FILENAME}% !-d
  # Minden más esetben az index.php-t futtasd le
  RewriteRule ^ index.php [QSA,L]
</IfModule>